/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   Base
   ========================================================================== */

/*html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }*/

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::selection { background: #f6a828; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   ========================================================================== */

/*Fonts*/
@font-face {
  font-family: 'Andika';
  font-style: normal;
  font-weight: normal;
  src: local('Andika'), url('../other/Andika.woff') format('woff');
}
/*Fonts*/

/*jQuery UI*/
.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }
.ui-selectable-helper { border: none; }
/*jQuery UI*/

h1 {
	margin-top: 0;
	font-size: 36px;
	font-family: 'Andika';
}

h2 {
	font-family: 'Andika';
	font-size: 18px;
	font-weight: normal;
	margin: 10px;
}

a {
	color: inherit;
}

a:visited {
	color: inherit;
}

.wrapper {
	margin: 15px;
	padding: 10px;
	box-shadow: #b3b3b3 0 0 25px;
	border-radius: 5px; 
	position: relative;
}

#content {
	display: none;
}

#loader {
	font-family: 'Andika';
}

#new-context-form {
}

	#new-context-form label {
		font-weight: bold;
		display: block;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	#new-context-form input {
		width: 100%;
		padding: 5px;
	}

	#new-context-form .errors {
		display: none;
	}

	#new-context-form .errors p {
		margin: 5px;
	}

#dialog-confirm, #dialog-import-success {
	display:none;
}

	#dialog-import-success ul {
		list-style: disc;
	}

#context-icons {
	list-style: none;
	padding: 0;
	padding-right: 5px;
	padding-bottom: 5px;
}

	#context-icons li {
		float: left;
		width: 40px;
		height: 40px;
		cursor: pointer;
		margin-left: 5px;
		margin-top: 5px;
	}

		#context-icons li img {
			margin-left: 4px;
			margin-top: 4px;
		}

#available_extensions_wrapper {
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

#always_enabled_extensions_wrapper {
	margin-top: 10px;
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
}

.top-right-box {
	position: absolute;
	right: 16px;
	top: 14px;
}

.extensions_list {
	list-style: none;
	padding:0;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

	.extensions_list li, ul.contextExtensions li {
		padding: 5px;
		line-height: 16px;
		width: auto;
		margin-top: 2px;
		cursor: move;
	}
	
	.extensions_list.active, ul.contextExtensions.active {
		background: url('ui-lightness/images/ui-bg_diagonals-thick.png') top left repeat;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	
	.extensions_list.active_dense {
		background: url('ui-lightness/images/ui-bg_diagonals-thick.png') top left repeat;
	}

	ul.contextExtensions li:first-child {
		margin-top: 0;
	}

	.extensions_list li {
		float: left;
		margin-left: 2px;
	}

		.extensions_list img, ul.contextExtensions li img {
			vertical-align: -3px;
			width: 16px;
			height: 16px;
		}

		.extensions_list span.extensionName, ul.contextExtensions li span.extensionName {
			margin-left: 5px;
			font-size: 14px;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
			display: inline-block;
		}

		.extensions_list span.extensionName {
			width: 270px;
		}

		.extensions_list div.removeBtn {
			display: none;
		}

	.extensions_list li.ui-state-active {
		font-weight: normal;
	}

#contexts {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#contexts li.context {
	padding: 5px;
	float: left;
	display: block;
}

	#contexts li.context {
		margin-right: 10px;
		margin-top: 10px;
		position: relative;
	}

	#contexts li.context:last-child {
		margin-right: 0;
	}

	#contexts li.context span.contextTitle {
		font-family: 'Andika';
		font-size: 18px;
		line-height: 24px;
		margin-left: 5px;
		vertical-align: 8px;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		display: inline-block;
		width: 240px;
	}

	.contextMenu {
		position: absolute;
		right: 5px;
		top: 2px;
	}

		.contextMenu a, .contextMenu div {
			margin: 0;
			padding: 0;
			display: inline-block;
		}

			.contextMenu a .ui-button-text {
				padding: 0;
			}

	.contextGrip {
		cursor: move;
	}

	ul.contextExtensions{
		list-style: none;
		padding:0;
		margin: 10px 10px 10px 0;
		min-height: 16px;
		padding: 5px;
	}

		ul.contextExtensions li {
			position: relative;
		}

		ul.contextExtensions div.removeBtn {
			right: 5px;
			top: 3px;
			position: absolute;
			color: #1c94c4;
			border: none;
			margin: 0;
			padding: 0;
			background-color: none;
			cursor: pointer;
		}

		ul.contextExtensions li span.extensionName {
			width: 210px;
		}

#help-icon {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

#accordion {
	margin-top: 30px;
}
	#accordion ul {
		list-style: none;
		padding: 0;
	}

	#accordion li {
		margin-top: 10px;
	}

	.hidden_feature {
		display: none;
	}

#welcome {
	display: none;
}

	#welcome ul {
		list-style: none;
		padding: 0;
	}

		#welcome div.picture {
			width: 480px;
			height: 320px;
			border: solid black 1px;
		}

		#welcome li.step_1 div.picture{
			background-image: url('../screenshots/__MSG_locale__/step_1.jpg');
		}

		#welcome li.step_2 div.picture{
			background-image: url('../screenshots/__MSG_locale__/step_2.jpg');
		}

		#welcome li.step_3 div.picture{
			background-image: url('../screenshots/__MSG_locale__/step_3.jpg');
		}
		
		#welcome li.step_4 div.picture{
			background-image: url('../screenshots/__MSG_locale__/step_4.jpg');
		}

#footer {
	border-top: solid silver 1px;
	padding-top: 20px;
	margin-top: 10px;
}

#popup {
	margin: 5px;
}

	ul.simple-list {
		position: relative;
		list-style: none;
		list-style-position: inside;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

		ul.simple-list li {
			margin: 0;
			margin-top: 2px;
			color: #363636;
			font-family: 'Andika';
		}

		ul.simple-list li:first-child{
			margin-top: 0;
		}
		
			ul.simple-list li div.list-context {
				padding: 2px 2px 2px 4px;
				cursor: pointer;
				float: left;
				width: 145px;
			}
			
				ul.simple-list li div.list-context span {
					margin-left: 5px;
				}
			
			ul.simple-list li div.list-context.all-context {
				padding-left: 6px;
			}
			
			ul.simple-list li div.list-context.single-context {
				border-left: solid 3px #FFA6A6;
			}
			
			ul.simple-list li.status-partial div.list-context {
				border-left-color: #FFCE3B;
			}
			
			ul.simple-list li.status-all  div.list-context {
				border-left-color: #00C700;
			}
			
			ul.simple-list li div.list-button {
				cursor: pointer;
				float: left;
				padding: 2px;
			}

	ul.simple-list img{
		width: 16px;
		height: 16px;
		vertical-align: -3px;
	}

#popup ul.simple-list {
	width: 200px;
}

#notification {
	margin: 7px;
	min-height: 50px;
}

	#notification ul.simple-list {
		margin-bottom: 10px;
	}

		#notification ul.simple-list li div.list-context {
			float: none;
			width: auto;
		}

.inline-selectable {
	display: inline-block;
	padding: 2px;
	cursor: pointer;
}

#extensionName {
	color: #1c94c4;
	font-weight: bold;
}

#social-buttons {
	position: absolute;
	right: 0;
	bottom: 5px;
}

	#fb_share {
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
		height: 25px;
	}

#import_box, #export_box {
	width: 600px;
	height: 40px;
	overflow-x: scroll;
	overflow-y: hidden;
	display: block;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Color by status */
.status-enabled { border-left: solid 3px #00C700 !important; }
.status-disabled { border-left: solid 3px #FFA6A6 !important; }
.float-left { float: left; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
